body{
    background:#e4e4e4;
    font-family:Verdana, Helvetica, Arial, sans-serif;
    margin:0;
    padding:0
}

.example{
    background:#e4e4e4;
    font-size:80%;
    position:relative;
    align-content:center;
}

.footer{
    padding-top: 20px;
    background: #d8d8d8;
    font-size:80%;
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
    align-content:center;
}

.footer2{
    padding-top: 20px;
    background: #d8d8d8;
    font-size:80%;
    position:relative;
    width:100%;
    bottom:0;
    text-align:center;
    align-content:center;
}

h3 {
    text-align:center;
    background: #d8d8d8;
    font-size: 16px;
}

h2 {
    text-align:center;
    background: #d8d8d8;
    font-size: 20px;
}

h1 {
    text-align:center;
    background: #d8d8d8;
    font-size: 30px;
}

.report{
    padding-left: 250px;
    padding-right: 250px;
    text-align:left;
}
