body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.boby {
    background: #4A4A4A;
    min-height: 100%;
    max-height: 100%;
}
.header {
    background: #74777a;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    cursor: default;
    font-size: 0.8em;
    padding: 1em 2em;
    position: relative;
    color: #FFFFFF;
    width: 100%;
}
#header h1 {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5em;
}
#header a {
    color: inherit;
    text-decoration: none;
}
.article {
    padding: 2em 0 2em 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}
img {
    max-width: 40%;
    min-width: 20%;
    min-height: 20%;
    max-height: 40%;
    height: auto;
    width: auto;
}
.footer {
    background: #74777a;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    cursor: default;
    font-size: 0.8em;
    padding: 1em 2em 1em;
    position: relative;
    bottom: 0px;
    max-width: 100%;
    width: auto;
    height: auto;
    color: #FFFFFF;
}
#footer .copyright {
    font-size: 1.2em;
    line-height: 1em;
}
#footer .copyright a {
    color: inherit;
}
#footer .copyright li {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: dotted 1px;
}
#footer .copyright li:first-child {
    margin: 0;
    padding: 0;
    border: 0;
}
